* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/recursos/imgs/fundocadastrologin.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.conteiner {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
}

.conteiner h1 {
    font-size: 36px;
    text-align: center;
}

.conteiner .input-box {
    position: relative;
    border: 0.2px solid;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box .error{
    margin-top: 5px;
    margin-left: 16px;
    font-size: 13px;
    color: red;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #555050;
}

.conteiner .lembre-esqueca {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

.conteiner .btn {
    width: 100%;
    height: 45px;
    background: #009092;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0 .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.conteiner .registro-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

